span{
    width: 10%;
    box-sizing: border-box;
    color: red;
    font-size: 12pt;
    display: inline-block;
    border: 2px solid #000;
    background-color: cornsilk;
    padding: 7px;
    transition: all 0.5s ease-in-out;

}
.active{
    color:blue;
    background-color: darkgoldenrod;
    transform: translateX(900%);
}